* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* ; */
}

.wrapper {
    height: 100vh;
    display: flex;
}

.square {
    height: 100vh;
}

.square1 {
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    height: 80%;
    width: 25%;
    background-color: rgb(61, 22, 112)
}

.square2 {
    position: relative;
    background-color: rgb(32, 12, 70);
    opacity: 0.02;
    width: 25%;
    height: 80%;
    bottom: 60%;
    left: 75%;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
}

.left-side {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
}

.right-side {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
}

.phone {
    height: 55%;
    width: 30%;
    margin-left: 60%;
    border-radius: 15%;
    background-color: hsl(270, 20%, 96%);
    overflow: hidden;
    font-size: 16px;
}

.p--header {
    height: 15%;
    background-color: hsl(264, 100%, 61%);
    border-radius: 0.6rem;
}

.message {
    display: flex;
    align-items: center;
    padding: 2%;
    height: 8%;
}

.message1 {
    height: 8%;
    /* padding: 2%; */
    margin-top: 0.3rem;
    background-color: hsla(276, 55%, 52%, 0.4);
    width: 60%;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
}

.message2 {

    margin-top: 0.3rem;
    background-color: hsla(276, 55%, 52%, 0.4);
    width: 60%;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
    /* padding: 2%; */
}

.message3 {

    margin-top: 0.4rem;
    width: 60%;
    border-radius: 0.3rem;
    margin-left: 38%;
    display: flex;
}

img {
    height: 90%;
    width: 30%;
    margin: 0.15rem;
    border-radius: 0.3rem;
}

.message4 {

    margin-top: 0.3rem;
    background-color: white;
    width: 60%;
    border-radius: 0.3rem;
    margin-left: 38%;
    /* padding: 2%; */
}

.message5 {
    height: 6%;
    margin-top: 0.3rem;
    background-color: white;
    width: 35%;
    border-radius: 0.3rem;
    margin-left: 63%;
    /* padding: 2%; */
}

.message6 {
    margin-top: 0.3rem;
    background-color: hsla(276, 55%, 52%, 0.4);
    width: 60%;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
    /* padding: 2%; */
}

.message7 {
    margin-top: 0.3rem;
    background-color: hsla(276, 55%, 52%, 0.4);
    width: 60%;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
    /* padding: 2%; */
}

.message8 {
    margin-top: 0.3rem;
    background-color: hsla(276, 55%, 52%, 0.4);
    width: 60%;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
    /* padding: 2%; */
}

.textbox {
    width: 60%;
    height: 25%;
}

.right--text {
    margin-top: 1rem;
    opacity: 0.4;
    letter-spacing: 0.06em;
    font-size: 100%
}

.left--text {
    font-size: 0.5rem;
    color: black;
}

h1 {
    font-size: 200%;
}

.input--message {
    height: 6%;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.submit {

    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.5rem;
    

    

}

.tam {
    display: inline-block;
    opacity: 0.3;
    font-size: 0.5rem;
    margin-left: 0.5rem;

}

